admin_email:
grafana_admin_password:
smtp_host:
smtp_user:
smtp_password:

restic_password:
restic_pcloud_repo:
restic_pcloud_stack:
bkp_pcloud_token:

nextcloud_db_password:

registry_pw:
registry_user:

redirection_sub_domain:
redirection_url:

mediamtx_user: 
mediamtx_password: