id: hookshot
url: http://hookshot:9993
as_token: {{ hookshot_as_token }}
hs_token: {{ hookshot_hs_token }}
sender_localpart: hookshot
namespaces:
  users:
    - regex: "@hookshot_.+:{{ messaging_sub_domain }}.{{ domain }}"
      exclusive: true
  aliases: []
  rooms: []
