services:
  db-pg:
    image: postgres:16.4
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
    restart: always
    volumes:
      - db-pg:/var/lib/postgresql/data
    expose:
      - 5432

  redis:
    image: redis:7.2-alpine
    container_name: nextcloud_redis
    restart: unless-stopped
    hostname: nextcloud_redis
    env_file:
      - .env

  app:
    image: nextcloud:32.0.2
    restart: unless-stopped
    links:
      - db-pg
    volumes:
      - nextcloud-2024:/var/www/html
    environment:
      - POSTGRES_HOST=db-pg
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - REDIS_HOST=${REDIS_HOST}
      - NEXTCLOUD_TRUSTED_DOMAINS=$DOMAIN
      - TRUSTED_PROXIES={{traefik_net_subnet}}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`{{nextcloud_sub_domain}}.${DOMAIN}`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.tls.certresolver=letsencrypt"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-redirectregex"
      - "traefik.http.middlewares.nextcloud-redirectregex.redirectregex.permanent=true"
      - "traefik.http.middlewares.nextcloud-redirectregex.redirectregex.regex=https://(.*)/.well-known/(?:card|cal)dav"
      - "traefik.http.middlewares.nextcloud-redirectregex.redirectregex.replacement=https://$${1}/remote.php/dav"

  aio-talk:
    image: ghcr.io/nextcloud-releases/aio-talk:20251031_122139
    container_name: nextcloud-aio-talk
    environment:
      - NC_DOMAIN={{nextcloud_sub_domain}}.${DOMAIN}
      - TALK_PORT=3478
      - TURN_SECRET={{nextcloud_turn_secret}}
      - SIGNALING_SECRET={{nextcloud_turn_signaling_secret}}
      - INTERNAL_SECRET={{nextcloud_turn_internal_secret}}
    ports:
      - 3478:3478/udp
      - 3478:3478/tcp
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud-talk.rule=Host(`nc-signaling.${DOMAIN}`)"
      - "traefik.http.routers.nextcloud-talk.entrypoints=websecure"
      - "traefik.http.services.nextcloud-talk.loadbalancer.server.port=8081"
      - "traefik.http.routers.nextcloud-talk.tls=true"
      - "traefik.http.routers.nextcloud-talk.tls.certresolver=letsencrypt"

  # onlyoffice-documentserver:
  #   image: onlyoffice/documentserver:8.1.3
  #   restart: unless-stopped
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.onlyoffice.rule=Host(`onlyoffice.${DOMAIN}`)"
  #     - "traefik.http.routers.onlyoffice.entrypoints=websecure"
  #     - "traefik.http.services.onlyoffice.loadbalancer.server.port=80"
  #     - "traefik.http.routers.onlyoffice.tls=true"
  #     - "traefik.http.routers.onlyoffice.tls.certresolver=letsencrypt"
  #     - "traefik.http.routers.onlyoffice.middlewares=onlyoffice-headers"
  #     ## Middleware definition
  #     # Headers for onlyoffice, https://github.com/ONLYOFFICE/onlyoffice-nextcloud/issues/151
  #     - "traefik.http.middlewares.onlyoffice-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
  #     - "traefik.http.middlewares.onlyoffice-headers.headers.accesscontrolalloworiginlist=*"

volumes:
  nextcloud-2024:
  db-pg:

networks:
  default:
    external: true
    name: ${TRAEFIK_NETWORK}
