---
# MediaMtx server

- name: Create /srv/mediamtx
  file:
    path: "{{ app_path }}/mediamtx"
    state: directory
    owner: "{{ linux_user }}"
  register: mediamtx_folder

- name: Copy template files to /srv/mediamtx
  template:
    src: "{{ item }}"
    dest: /srv/mediamtx/{{ item | replace('.template', '') | replace('.jinja', '.yml') }}
    mode: "0644"
    owner: "{{ linux_user }}"
  loop:
    - docker-compose.jinja
    - mediamtx.jinja
    - .env.template
  register: mediamtx_config

- name: Create certs folder
  file:
    path: "{{ app_path }}/mediamtx/certs"
    state: directory
    owner: "{{ linux_user }}"

- name: Create private key file
  community.crypto.openssl_privatekey:
    path: "{{ app_path }}/mediamtx/certs/stream-server.key"
    size: 2048

- name: Create CSR
  openssl_csr:
    path: "{{ app_path }}/mediamtx/certs/stream-server.csr"
    privatekey_path: "{{ app_path }}/mediamtx/certs/stream-server.key"
    country_name: FR
    organization_name: "{{ org_name }}"
    common_name: "{{ domain }}"
    email_address: "{{ admin_email  }}"

- name: Generate self-signed SSL certificate
  openssl_certificate:
    path: "{{ app_path }}/mediamtx/certs/stream-server.crt"
    privatekey_path: "{{ app_path }}/mediamtx/certs/stream-server.key"
    csr_path: "{{ app_path }}/mediamtx/certs/stream-server.csr"
    provider: selfsigned
  register: mediamtx_cert

- name: Open ports
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - 8322
    - 8554

- name: Docker login to this stack registry
  community.docker.docker_login:
    registry: "{{ registry_sub_domain }}.{{ domain }}"
    username: "{{ registry_user }}"
    password: "{{ registry_pw }}"

- name: Pull cutomized Shinobi image
  community.docker.docker_image_pull:
    name: "{{ registry_sub_domain }}.{{ domain }}/shinobi:latest"

- name: Stop mediamtx container
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}/mediamtx"
    state: absent
  when: mediamtx_config.changed or mediamtx_cert.changed

- name: Start mediamtx stack
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}/mediamtx"
    state: present
