TRAEFIK_NETWORK={{traefik_network}}
DOMAIN={{domain}}

DB_TYPE=pgsql
DB_HOST=db
DB_PORT=5432
DB_NAME=moodle
DB_USER=moodleuser
DB_PASS={{moodle_db_pw}}

WWW_ROOT=https://{{moodle_domain}}.${DOMAIN}

ADMIN_PASS={{moodle_admin_pw}}

# Site admin email address
ADMIN_EMAIL={{admin_email}}

PHP_MEMORY_LIMIT=256M

PHP_UPLOAD_MAX_FILESIZE=20M
PHP_POST_MAX_SIZE=20M
PHP_MAX_INPUT_VARS=5000
PHP_MAX_EXECUTION_TIME=300

# Logging Configuration
################################################################################
# Log level for debugging (optional)
# DEBUG_LEVEL=developer
