---
- name: Create /srv/traefik directory if it doesn't exist
  file:
    path: /{{ app_path }}/traefik
    state: directory

- name: Copy traefik template files to /srv/traefik
  template:
    src: "{{ item }}"
    dest: /srv/traefik/{{ item | replace('.template', '') | replace('.jinja', '.yml') }}
    mode: "0644"
  loop:
    - docker-compose.yml
    - traefik.jinja
    - .env.template
  register: traefik_config

- name: Stop Traefik
  community.docker.docker_compose_v2:
    project_src: /srv/traefik
    state: absent
  when: traefik_config.changed

- name: Start Traefik
  community.docker.docker_compose_v2:
    project_src: /srv/traefik
    state: present
