TRAEFIK_NETWORK={{ traefik_network }}
DOMAIN={{ domain }}
SUB_DOMAIN={{ dolibarr_subdomain }}

DOLI_INIT_DEMO=0

MYSQL_ROOT_PASSWORD="{{ dolibarr_db_root_pw }}"
MYSQL_PASSWORD="{{ dolibarr_db_pw }}"
MYSQL_USER=dolidbuser
MYSQL_DATABASE=dolidb

DOLI_DB_HOST=mariadb
DOLI_DB_NAME=${MYSQL_DATABASE}
DOLI_DB_USER=${MYSQL_USER}
DOLI_DB_PASSWORD=${MYSQL_PASSWORD}

DOLI_AMDIN_LOGIN={{ dolibarr_admin_user }}
DOLI_AMDIN_PASSWORD="{{ dolibarr_admin_pw }}"

DOLI_CRON_KEY={{ dolibarr_cron_key }}
DOLI_COMPANY_NAME= {{ dolibarr_company }}
