x-dolibarr: &dolibarr
  image: dolibarr/dolibarr:23.0.3
  volumes:
    - custom:/var/www/html/custom
    - documents:/var/www/documents
  env_file: .env
  restart: unless-stopped

name: {{ tenant }}-dolibarr
services:
  mariadb:
    image: mariadb:12.2-ubi
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - db:/var/lib/mysql
    networks:
      - internal

  web:
    <<: *dolibarr
    environment:
      DOLI_CRON: 0
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=${TRAEFIK_NETWORK}"
      - "traefik.http.routers.dolibarr-{{ tenant }}.rule=Host(`${SUB_DOMAIN}.${DOMAIN}`)"
      - "traefik.http.routers.dolibarr-{{ tenant }}.entrypoints=websecure"
      - "traefik.http.services.dolibarr-{{ tenant }}.loadbalancer.server.port=80"
      - "traefik.http.routers.dolibarr-{{ tenant }}.tls.certresolver=letsencrypt"
    networks:
      - traefik
      - internal
    depends_on:
      mariadb:
        condition: service_healthy

  cron:
    <<: *dolibarr
    environment:
      DOLI_CRON: 1
      DOLI_CRON_KEY: ${DOLI_CRON_KEY}
    networks:
      - internal

volumes:
  documents:
  custom:
  db:

networks:
  internal:
  traefik:
    external: true
    name: ${TRAEFIK_NETWORK}
