services:
  traefik:
    image: traefik:v3.6.2
    container_name: "traefik"
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      # - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - ./acme:/etc/traefik/certs
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - /var/log/traefik/traefik.log:/var/log/traefik/log.txt
    networks:
      - net

networks:
  net:
    driver: bridge
