---
- name: Install and configure VPS
  hosts: ad2ien.dev
  become: yes
  vars_files:
    - group_vars/all.yml
    - group_vars/private.yml
  roles:
    - role: 00_basic-install
      tags: basic
    - role: 01_traefik
      tags: traefik
    - role: 02_monitoring
      tags: monitoring
    - role: 03_backup
      tags: backup
    - role: 04_portainer
      tags: portainer
    - role: 05_nextcloud
      tags: nextcloud
    - role: 06_wireguard
      tags: wireguard,vpn
    - role: 07_messaging
      tags: messaging
    - role: 09_redirect
      tags: redirect
    - role: 10_video-server
      tags: mediamtx
    # - role: 11_frp
    #   tags: frp
    - role: 12_static-files
      tags: static-files
    - role: 13_help-the-stars
      tags: help-the-stars
    - role: 14_rustdesk
      tags: rustdesk
